header {
    background-color: var(--background-tertiary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 38px 48px;
}

.logo { 
    width: 68px;
    height: 64px;
    display: inline-block;
}

.navigation-menu{
    margin-top: 24px;
}

/* "quando o input checkbox estiver selecionado, pega o irmão dele e coloca um display block nele" */
input[type="checkbox"]:checked ~ nav{
    display: block;
}

nav{
    display: none;
}